@gray-base:#000;
@gray-darker:lighten(@gray-base,13.5%);
@gray-dark:lighten(@gray-base,20%);


@red:#d9534f;
@purple:#BA55D3;

body{
	background-color:@gray-dark;
  font-family: "Verdana", Verdana, sans-serif;
	
}

body,html{
}


h1{
	text-align:center;
	color:darken(white, 20%);
	margin-top:40px;
	
}

#canvasDiv{
	width:400px;
	height:400px;
	margin:auto;
	margin-bottom:20px;

}

#slider{
	width:40%;
	max-width:400px;
	margin:auto;
	
	
	p{
		color:white;
	}
	
	#end{
		position:relative;
		float:right;
		right:-75px;
		top:-22px;
		
	}
	
	#start{
		position:relative;
		right:50px;
		top:-22px;
	}
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
	
	background:lighten(@gray-base, 60%);
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background:@purple;
	border:darken(@purple, 20%);
}