body {
  background-color: #333333;
  font-family: "Verdana", Verdana, sans-serif;
}
h1 {
  text-align: center;
  color: #cccccc;
  margin-top: 40px;
}
#canvasDiv {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
}
#slider {
  width: 40%;
  max-width: 400px;
  margin: auto;
}
#slider p {
  color: white;
}
#slider #end {
  position: relative;
  float: right;
  right: -75px;
  top: -22px;
}
#slider #start {
  position: relative;
  right: 50px;
  top: -22px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button {
  background: #999999;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #BA55D3;
  border: #83289a;
}
