<html>

<head>
	<script src="{{ url_for('static', filename='js/compass.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='less/styles.css')}}">

</head>
<body>


<div id='canvasDiv'>
	<h1>Compass</h1>
	<canvas id="myCanvas"></canvas>
</div>
<script>

var canvas = document.getElementById('myCanvas');
var ctx = canvas.getContext('2d');

ctx.canvas.width = document.getElementById("canvasDiv").offsetWidth
ctx.canvas.height = document.getElementById("canvasDiv").offsetHeight

min_length = Math.min(ctx.canvas.width, ctx.canvas.height);
var radius = 140;

function drawCompass(bearing){
	
	ctx.translate(ctx.canvas.width/2, ctx.canvas.height/2);
	ctx.rotate(bearing);
    drawMiniTicks();
	drawCircle();	
	drawMajorTicks();
	drawCompassHead();
	drawNumbers(bearing);
	drawBearing(bearing);
	drawHeadings(bearing);
	ctx.rotate(-bearing);	
	ctx.translate(-ctx.canvas.width/2, -ctx.canvas.height/2);
	
}

var angle_old = 0;
var eventSource = new EventSource("/stream");
drawCompass(0,0);

eventSource.onmessage = function(e) {
	if(e.data!=angle_old){
		ctx.clearRect(0,0,ctx.canvas.width,ctx.canvas.height);
		radians = e.data/180*Math.PI;
		angle_old = e.data;
		radians_old = angle_old/180*Math.PI;
		drawCompass(radians);
	};
};


;

</script>


</body>	
</html>