<html>

<head>
	<title>Space Compass</title>
	<script src="{{ url_for('static', filename='js/compass.js')}}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='less/styles.css')}}">
</head>
<body>

<h1>Set the bearing of your space ship!</h1>
<div id='canvasDiv'><canvas id="myCanvas"></canvas></div>
<div id="slider">
	<p id="end">360 &#176</p>
	<p id="start">0 &#176</p>
</div>

<script>
var canvas = document.getElementById('myCanvas');
var ctx = canvas.getContext('2d');
ctx.canvas.width = document.getElementById("canvasDiv").offsetWidth
ctx.canvas.height = document.getElementById("canvasDiv").offsetHeight

var compass = new Compass();
compass.draw(0);
	
$( function() {
  $( "#slider" ).slider({
	  slide: function( event, ui ){compass.update(event,ui)}
	});
} );

</script>
	
</body>	
</html>